.Stock {
  margin-bottom: 150px;

  &__title {
    margin: 0;
    font-style: normal;
    font-weight: 500;
    font-size: 40px;
    line-height: 51px;
  }

  &__container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 40px 0;
  }

  &__block {
    width: 360px;

    h4 {
      margin: 30px 0 10px;
      font-weight: 500;
      font-size: 18px;
      line-height: 23px;
      color: #000000;
    }

    p {
      max-width: 260px;
      margin: 0;
      font-weight: 400;
      font-size: 12px;
      line-height: 15px;
      color: #000000;
    }
  }

  &__violet,
  &__yellow,
  &__red {
    width: 360px;
    height: 200px;
    text-align: center;
    border-radius: 15px;
  }

  &__violet {
    background: #b185dc;
  }

  &__yellow {
    background: #edcc47;
  }

  &__red {
    background: #f45e54;
  }
}
