.Basket {
  display: flex;
  justify-content: space-between;
  text-align: center;
  max-width: 960px;
  height: 105px;
  padding: 10px 0;
  border-top: 1px solid #ccd2e3;

  &__block-left {
    display: flex;
  }

  &__block-right {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 256px;
  }

  &__button {
    width: 18px;
    height: 18px;
    text-align: center;
    background: #B185DC;
    border: none;
    border-radius: 100%;
    cursor: pointer;
  }

  &__button:hover {
    background: #bfa0dd;
  }
}
